{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "ignore",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.java",
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx", "*.json"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
