server:
  servlet:
    context-path: /files
  port: 1002

grpc:
  server:
    port: 9002

spring:
  application:
    name: file

  profiles:
    active: dev
    include: framework

  output:
    ansi:
      enabled: always

  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
    ip-address: 127.0.0.1
    instance-id: ${spring.application.name}:${server.port}

management:
  endpoints:
    web:
      exposure:
        include: health,info
