server:
  port: 1003

  servlet:
    context-path: /user-profile

grpc:
  server:
    port: 9003
  client:
    file-service:
      address: static://localhost:9002
      negotiationType: plaintext

spring:
  application:
    name: user-profile

  profiles:
    active: dev

  output:
    ansi:
      enabled: always

  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB

  datasource:
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      idle-timeout: 30000
      connection-timeout: 30000
      max-lifetime: 600000
      pool-name: HikariCP

  jpa:
    open-in-view: false
    show-sql: false
    hibernate:
      ddl-auto: none
    properties:
      '[hibernate.format_sql]': true
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
    ip-address: 127.0.0.1
    instance-id: ${spring.application.name}:${server.port}

management:
  endpoints:
    web:
      exposure:
        include: health,info
