server:
  servlet:
    context-path: /notifications
  port: 1004

spring:
  application:
    name: notification

  profiles:
    active: dev

  output:
    ansi:
      enabled: always

  jackson:
    time-zone: Asia/Ho_Chi_Minh

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
    ip-address: 127.0.0.1
    instance-id: ${spring.application.name}:${server.port}

management:
  endpoints:
    web:
      exposure:
        include: health,info
