server:
  port: 1001

  servlet:
    context-path: /auth

grpc:
  server:
    port: 9001
  client:
    profile-service:
      address: static://localhost:9003
      negotiationType: plaintext

spring:
  application:
    name: auth

  profiles:
    active: dev
    include: framework

  output:
    ansi:
      enabled: always

  datasource:
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      idle-timeout: 30000
      connection-timeout: 30000
      max-lifetime: 600000
      pool-name: HikariCP

  jpa:
    open-in-view: false
    show-sql: false
    hibernate:
      ddl-auto: none
    properties:
      '[hibernate.format_sql]': true

  liquibase:
    enabled: true
    change-log: liquibase/changelog-master.xml

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
    ip-address: 127.0.0.1
    instance-id: ${spring.application.name}:${server.port}

management:
  endpoints:
    web:
      exposure:
        include: health,info
