logging:
  level:
    root: INFO

spring:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  data:
    redis:
      host: redis
      port: 6379

application:
  security:
    base64-secret: ${BASE_64_SECRET}
    valid-duration-in-seconds: ${VALID_DURATION}
    refresh-duration-in-seconds: ${REFRESH_DURATION}
